<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="Alison Montag">
  <link rel="icon" href="http://alisonmontag.com/favicon.ico">

  <title>Alison Montag</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}/css/custom.css" rel="stylesheet">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC|Poiret+One" rel="stylesheet">

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="https://twitter.com/alispss" target="_blank"><img src="{{ .Site.BaseURL }}/img/twitter.png" height="42" width="42"/></a></li>
          <li role="presentation"><a href="https://facebook.com/alispss" target="_blank"><img src="{{ .Site.BaseURL }}/img/facebook.png" height="42" width="42"/></a></li>
          <li role="presentation"><a href="https://instagram.com/alispss" target="_blank"><img src="{{ .Site.BaseURL }}/img/instagram.png" height="42" width="42"/></a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <a href="{{ .Site.BaseURL }}"><img class="img-responsive center-block" src="{{ .Site.BaseURL }}/img/Logo.jpg" ></a>
        </div>
      </div>
    </div>
  </div>
    
  <div class="container">
      <div class="row">
        <div class="col-md-12 centered-pills">
          <nav>
            <ul class="nav nav-pills target-active" id="navbar">
              <li><a href="{{ .Site.BaseURL }}/aboutme">About Me</a></li>
              <!--li><a href="#">Calligraphy</a></li-->
              <li><a href="{{ .Site.BaseURL }}/art">Art</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </div>

</head>